.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}


.clock {
    display: flex;
    justify-content: center;
    

    color: var(--color-text);
    font-size: 60px;
    font-family: 'Orbitron';
    letter-spacing: 1rem;
   


}