.cronometro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    


}
.display{
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: 60px;
    font-family: 'Orbitron';
    letter-spacing: 1rem;
   


}